@import url('./reset.css');

:root {
  --app-dark-bg:#1a1d28;
  --font: rgb(255 255 255 /1);
  --section-bg:#262930;
  --border-color: #2a2c34;
  --border-radius: 6px;
  --app-red:#ff3c57;
  --app-green:#33ab4e;
  --app-purple:#833cff;
  --app-orange:#ff833c;
  --app-orange-hover:#dc5e16;
  --app-blue:#3c57ff;
  --app-blue-hover:#364ee6;
  --app-light-bg: #ffffff;
  --app-gray: #c0bbbac3;
}

body { 
  background-color: var(--app-dark-bg); 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  color: var(--app-light-bg);
}

div p, h1, h2, h3, h4, h5, h6, li, i, a span {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--app-light-bg);
  letter-spacing: 0.2px;
}

input {
  height: 25px;
  border-radius: 7px;
 ;
}

input[type='text'] {
  padding: 10px 15px;
  width: 55%;
}

input[type='submit'], button {
  height: 50px;
  background-color: var(--app-orange);
  text-transform: uppercase;
  color: var(--app-light-bg);
  width: calc(30% - 5px);
  font-weight: 400;
  cursor: pointer;
  border-radius: 7px;
}

input ~ input {
  margin-left: 6px
}

/* User Style */

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -200px;
}

.user-profile {
  text-align: center;
  font-weight: 400;
}

.user-avatar img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.user-name > h2 {
  font-size: 40px;
  letter-spacing: 0.9px;
}

.user-stats {
  display: flex;
  justify-content: space-between;
  font-size: px;
  letter-spacing: 0.9px;
}

.stat {
  text-align: center;
}

.user-repos {
  margin-top: 20px;
}

.repos-container {
  display: flex;
  flex-direction: column;
}

.repo {
  margin-bottom: 10px;
}
